@{
    ViewBag.Title = "BarcodeList";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string CVCaption = System.Configuration.ConfigurationManager.AppSettings["CVCaption"];
    string BVCaption = System.Configuration.ConfigurationManager.AppSettings["BVCaption"];
    string PVCaption = System.Configuration.ConfigurationManager.AppSettings["PVCaption"];
    string RPCaption = System.Configuration.ConfigurationManager.AppSettings["RPCaption"];
    string BarcodeCaption = System.Configuration.ConfigurationManager.AppSettings["BarcodeCaption"];
}

<style type="text/css">
    .gj-grid-wrapper {
        min-width: 100% !important;
        overflow-x: scroll !important;
    }
</style>

<script type="text/javascript">
    var ErrorFlag = true;
    var SizeOfImage;
    var ProductGrid = [{}];
    var ProductModel = null;
    var grid, dialog;
    $(document).ready(function () {
        $(".preloader").hide();
        fillGrid();
        $("#btnAdd").click(function () {            
            window.location.href = "/Product/BatchcodeMaster";
        });

        function Edit(ev) {
            var SingleProduct = $.grep(ProductModel, function (e) {
                return e.ProductCode == ev.data.record.ProductCode;
            });
            console.log(" ev.data.record.ProductCode", ev.data.record.ProductCode);
            var prodcode = ev.data.record.ProductCode;
            var link = '@Url.Action("ProductMaster", "Product",new { ActionName = "Edit", ProductCode = "-1" })';
            link = link.replace("-1", ev.data.record.ProductCode);
            console.log("link",link);
            window.location.href = "/Product/ProductMaster?ActionName=Edit&ProductCode=" + ev.data.record.ProductCode;
        }

        function DeActive(ev) {
            var SingleProduct = $.grep(ProductModel, function (e) {
                return e.BarcodeId == ev.data.record.BarcodeId;
            });
            var link = '@Url.Action("DeActiveBarcode", "Product",new { BCode = "-1"})';
            link = link.replace("-1", ev.data.record.BarcodeId);
            
                $.ajax({
                    type: 'POST',
                    url: link,
                    success: function (objResponse) {
                        if (objResponse.ResponseStatus == "OK") {
                            OpenDialog("dialogMessage", objResponse.ResponseMessage, "false");
                            fillGrid();
                        }
                    }
                });

        }
        function OpenDialog(dialogId, Message, isConfirmation) {
            if (isConfirmation == "true") {

            }
            else {
                $("#" + dialogId).empty();
                $("#" + dialogId).append('<p>' + Message + '</p>');

                $("#" + dialogId).dialog({
                    modal: true,
                    buttons: [{
                        text: "OK",
                        id: "btn" + dialogId,
                        click: function () {
                            $("#" + dialogId).dialog("close");
                        }
                    }]
                });
                $(".ui-dialog-titlebar-close").empty();
                $(".ui-dialog-titlebar-close").append('<i class="fa fa-close"></i>');
            }


        }
        function Edit(ev) {
            debugger;
            var SingleProduct = $.grep(ProductModel, function (e) {
                return e.BarcodeId == ev.data.record.BID;
            });
            console.log(" ev.data.record.BarcodeId", ev.data.record.BID);
            var prodcode = ev.data.record.BID;
            var link = '@Url.Action("BatchcodeMaster", "Product",new { ActionName = "Edit", BarcodeId = "-1" })';
            link = link.replace("-1", ev.data.record.BId);
            console.log("link", link);
            window.location.href = "/Product/BatchCodeMaster?ActionName=Edit&BatchcodeId=" + ev.data.record.BID;
        }

        function Activate(ev) {
            var SingleProduct = $.grep(ProductModel, function (e) {
                return e.BarcodeId == ev.data.record.BId;
            });
            var link = '@Url.Action("ActivateBatchcode", "Product",new { BCode = "-1"})';
            link = link.replace("-1", ev.data.record.BarcodeId);

            $.ajax({
                type: 'POST',
                url: link,
                success: function (objResponse) {
                    if (objResponse.ResponseStatus == "OK") {
                        OpenDialog("dialogMessage", objResponse.ResponseMessage, "false");
                        fillGrid();
                    }
                }
            });

        }
        function fillGrid(){
            var link = '@Url.Action("GetBatchcodeList", "Product")';
            ProductGrid = [{}];

            $.ajax({
                type: 'POST',
                url: link,
                success: function (resultData) {
                    $(".preloader").hide();
                    if (ProductGrid[0].ProductCode == undefined)
                        ProductGrid = ProductGrid.splice(1);
                    $("#noRecord").hide();
                    console.log("ProductGrid", ProductGrid);
                    if (grid != null) {
                        grid.destroy();
                        $('#grid').empty();

                    }

                    if (resultData != null) {
                        var i = 0;
                        ProductModel = resultData;
                        for (i = 0; i < resultData.length; i++) {

                            debugger;

                            ProductGrid.push({
                                "SNo": (i + 1),
                                "BID": resultData[i].BatchcodeId,

                                "ProductCode": resultData[i].ProductCode,
                                "ProductName": resultData[i].ProductName,
                                "BatchCode": resultData[i].Batchcode,
                                "BatchNo": resultData[i].BatchNo,
                                "ActiveStatus": resultData[i].ActiveStatus,
                                "MRP": resultData[i].MRP,
                                "DP": resultData[i].DP,
                                "Bv": resultData[i].Bv,
                                "PV":resultData[i].PV,
                                "ExpireDate": resultData[i].ExpDateStr,
                                "MFGDate": resultData[i].MfgDateStr,
                                "isExpirable": resultData[i].IsExpirable,
                                "IsExpireStatus": resultData[i].IsExpireStatus,
                            });
                        }

                        $("#noRecord").hide();
                        grid = $('#grid').grid({
                            dataSource: ProductGrid,
                            uiLibrary: 'bootstrap',
                            headerFilter: true,
                            columns: [
                                { field: 'SNo', title: 'SNo.', sortable: false, hidden: false,width: 50, cssClass: "noExl", filterable: false },
                                { field: 'BID', title: 'B Id', sortable: true, width: 70, filterable: true, hidden: false },
                                { field: 'ProductCode', title: 'Product Code', sortable: false, width: 70, hidden: true, cssClass: "noExl", filterable: false },
                                { field: 'ProductName', title: 'Product', width: 100, sortable: true, hidden: false, cssClass: "noExl", filterable: true },
                                { field: 'BatchCode', title: 'Batch Code', width: 70, sortable: true, filterable: true },   
                                 { field: 'BatchNo', title: 'Batch No', width: 70, sortable: true, hidden: true, cssClass: "noExl", filterable: true },
                                 { field: 'MRP', title: 'MRP', width: 70, sortable: true, hidden: false, cssClass: "noExl", filterable: true },
                                 { field: 'DP', title: 'DP', width: 70, sortable: true, hidden: false, cssClass: "noExl", filterable: true },
                                 { field: 'Bv', title: 'BV', width: 70, sortable: true, hidden: false, cssClass: "noExl", filterable: true },
                                 { field: 'PV', title: 'PV', width: 70, sortable: true, hidden: false, cssClass: "noExl", filterable: true },
                                 { field: 'MFGDate', title: 'MFG date', width: 70, sortable: true, filterable: true },
                                 { field: 'ExpireDate', title: 'Expiry Date', width: 70, sortable: true, filterable: true },
                                 { field: 'isExpirable', title: 'Expire Status', width: 70, sortable: true, filterable: true },
                                 { field: 'IsExpireStatus', title: ' Is Expire ', width: 70, sortable: true, filterable: true },
                                 { field: 'ActiveStatus', title: 'Status', sortable: true, width: 70, filterable: true },
                                 { title: '', field: 'Edit', width: 34, type: 'icon', width: 70, icon: 'glyphicon-pencil', tooltip: 'Edit', events: { 'click': Edit }, filterable: false },
                                { field: 'ActiveStatus', title: '', hidden:true, width: 70, renderer: function (value, record) { return value === "Y" ? "<u>DeActivate</u>" : ""; }, events: { 'click': DeActive } },
                                { field: 'ActiveStatus', title: '', hidden: true, width: 70, renderer: function (value, record) { return value === "N" ? "<u>Activate</u>" : ""; }, events: { 'click': Activate } },
                            ],
                            pager: { limit: 100, sizes: [15, 20, 35, 50, 65, 80, 95, 100] }
                        });

                    }
                    else {
                        $("#noRecord").show();
                    }

                }
            });
        }
    });
</script>
<div class="row">

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Product > Batch List</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <div id="dialogMessage" title="Message">

                    </div>
                    <div class="col-lg-offset-10 col-lg-2">
                        <button id="btnAdd" type="button" class="btn btn-default" style="margin-top: 5%;margin-bottom: 5%">Add New Batch</button>
                    </div>
                    <div class="col-lg-12">
                        <table class="table bootstrap-datatable" id="grid"></table>
                        <center><span style="display:none" id="noRecord">No Records Found</span></center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


