@model InventoryManagement.Entity.Common.UserPermissionMasterModel
@{
    ViewBag.Title = "Stop Invoicing";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var CountOfUsers = 0;
}

<style>
    .ui-widget-header {
        margin-top: -1% !important;
        width: 102% !important;
        margin-left: -1% !important;
    }

    .ui-dialog-titlebar-close {
        margin-right: 1% !important;
    }

    .ui-widget-content {
        background: white !important;
        border-radius: 15px !important;
        -webkit-border-radius: 4px !important;
    }
    /*.ui-widget-header .ui-icon {
        background-color: black!important;
    }*/
    ui-autocomplete-input {
        z-index: 100;
    }

    .input-readonly {
        background-color: #EBEBE4;
    }

    .btnShowReportClass {
        margin-left: 74%;
    }

    .btnExportClass {
        margin-right: 5%;
        height: 25px;
        width: 3%;
        cursor: pointer;
        float: right;
    }

    @@media screen and (max-width: 640px) {
        table {
            display: block;
            overflow-x: auto;
        }

        .btnShowReportClass {
            margin-left: -3%;
        }

        .btnExportClass {
            margin-right: 5%;
            height: 25px;
            width: 10%;
            cursor: pointer;
            float: right;
        }
    }
</style>
<script type="text/javascript">
    var grid, dialog;
    var IsYes = false;
    var UserGrid = [{}];
    var SelectedMenu = "";
    $(document).ready(function () {
        $(".preloader").hide();
        SelectedMenu = '@ViewBag.Selectedmenu';

        $("#MenuId").val(SelectedMenu);

        GetPermittedMenuList(SelectedMenu);

        $("#MenuList").change(function () {
            SelectedMenu = $("#MenuList").val();
            $("#MenuId").val(SelectedMenu);
            GetPermittedMenuList(SelectedMenu);
        });

        function GetPermittedMenuList(SelectedMenu) {
            $(".preloader").show();
            $.ajax({
                url: '@Url.Action("GetPermittedUserList", "User")',
                type: 'GET',
                data: { 'MenuId': SelectedMenu },
                dataType: "json",
                success: function (objResponse) {
                    UserGrid = [{}];
                    if (objResponse != null && objResponse.length > 0) {
                        for (var i = 0; i < objResponse.length; i++) {
                            if (objResponse[i].IsPermitted == true) {
                                UserGrid.push({ "SNo": (i + 1), "UserId": objResponse[i].UserId, "UserName": objResponse[i].UserName, "IsPermitted": true, "chkstr": "checked=true" });
                            }
                            else {
                                UserGrid.push({ "SNo": (i + 1), "UserId": objResponse[i].UserId, "UserName": objResponse[i].UserName, "IsPermitted": false, "chkstr": "" });
                            }
                        }
                    }
                    $(".preloader").hide();
                    fillGrid();
                }
            });
        }

        $("#btnSavePermission").on('click', function () {
            $("#btnSavePermission").attr("disabled", true);
            $(".preloader").show();
            var ListObjStr = JSON.stringify(UserGrid);
            $("#ListPermittedMenuList").val(ListObjStr);
            var formdata = new FormData($("#UserPermissionForm")[0]);
            
            $.ajax({
                    url: '@Url.Action("StopInvoicingSave", "User")',
                    type: 'POST',
                    data: formdata,
                    processData: false,
                    contentType: false,
                    dataType: "json",
                    success: function (objResponse) {
                        $("#btnSavePermission").attr("disabled", false);
                        $(".preloader").hide();
                        if (objResponse != null) {
                            OpenDialog("dialogMessage", objResponse.ResponseMessage, "false");
                            if (objResponse.ResponseStatus == "OK") {
                                window.location.href = '@Url.Action("StopInvoicing", "User")';
                            }
                        }
                    }
                });            
        });

        $('#SelectAll').change(function () {
            var selectall = this;
            $(UserGrid).each(function () {
                
                    ChkUsers(selectall, this.UserId);
                });
                fillGrid();
        });

    });
    function OpenDialog(dialogId, Message, isConfirmation) {
        $("#" + dialogId).empty();
        $("#" + dialogId).append('<p>' + Message + '</p>');
        if (isConfirmation == "true") {
            $("#" + dialogId).dialog({
                modal: true,
                buttons: [{
                    text: "Yes",
                    id: "btnYes" + dialogId,
                    click: function () {
                        IsYes = true;
                        $("#" + dialogId).dialog("close");


                    }
                },
                {
                    text: "No",
                    id: "btnNo" + dialogId,
                    click: function () {
                        IsYes = false;
                        $("#" + dialogId).dialog("close");
                    }
                }
                ]
            });
            $(".ui-dialog-titlebar-close").empty();
            $(".ui-dialog-titlebar-close").append('<i class="fa fa-close"></i>');
        }
        else {


            $("#" + dialogId).dialog({
                modal: true,
                buttons: [{
                    text: "OK",
                    id: "btn" + dialogId,
                    click: function () {
                        $("#" + dialogId).dialog("close");


                    }
                }]
            });
            $(".ui-dialog-titlebar-close").empty();
            $(".ui-dialog-titlebar-close").append('<i class="fa fa-close"></i>');
        }

    }
    
    function fillGrid() {
        if (UserGrid.length >= 1) {
            if (UserGrid[0].SNo == "" || UserGrid[0].SNo == null || UserGrid[0].SNo == undefined)
                UserGrid = UserGrid.splice(1);
        }
        $("#noRecord").hide();
        if (grid != null) {
            grid.destroy();
            $('#grid').empty();

        }
       grid = $('#grid').grid({
            dataSource: UserGrid,
            uiLibrary: 'bootstrap',
            headerFilter: false,
            columns: [
                { field: 'SNo', title: 'S.No.', sortable: true, hidden: false, filterable: false },
                { field: 'UserId', title: 'User Id', sortable: true, hidden: true, filterable: false },
                { field: 'UserName', title: 'UserName', sortable: true, hidden: false, filterable: false },
                { field: 'IsPermitted', title: 'Permission', hidden: false, tmpl: '<input type="checkbox" {chkstr} value="{UserId}" onchange="ChkUsers(this,{UserId});" >', align: 'center' },
            ]

        });

        grid.on('cellDataBound', function (e, $displayEl, id, column, record) {
            console.log("hi");
            console.log("record.IsPermitted", record.IsPermitted);
            if ('IsPermitted' === column.field) {
                $wrapper.find('input[type="checkbox"]').prop("checked", record.IsPermitted);
            }
        });
    }
    function ChkUsers(chkbox, SelectedMenuId) {
        var prmitted = false;
        if (chkbox.checked)
        { prmitted = true; }
        for (var i = 0; i < UserGrid.length; i++) {
            if (SelectedMenuId == UserGrid[i].UserId) {
                UserGrid[i].IsPermitted = prmitted;
                if (prmitted)
                    UserGrid[i].chkstr = "checked=true";
                else
                    UserGrid[i].chkstr = "";
                break;
            }
        }
    }
</script>

<div class="row">

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>User > Stop Services</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form id="UserPermissionForm" method="post" name="UserPermissionForm" onsubmit="false" data-parsley-validate class="validateForm form-horizontal form-label-left">

                        @Html.HiddenFor(m => m.ListPermittedMenuList, new { id = "ListPermittedMenuList", name = "ListPermittedMenuList" })
                        @Html.HiddenFor(m => m.MenuId, new { id = "MenuId", name = "MenuId" })
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-4">
                                    &nbsp;
                                </div>
                                <div class="col-lg-4">


                                    <label class="control-label col-lg-6 col-md-3 col-sm-3 col-xs-12" for="category-name">
                                        Select Menu @*<span class="required">*</span>*@
                                    </label>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-left: 0.5%;">
                                        <select id="MenuList" name="MenuList" class="form-control">
                                            @{
                                                var f = false;
                                                foreach (var obj in Model.MenuList)
                                                {
                                                    if (f == false)
                                                    {
                                                        f = true;
                                                        <option value="@obj.MenuId" data-parent="@obj.ParentId" selected="selected">@obj.MenuName</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@obj.MenuId">@obj.MenuName</option>
                                                    }


                                                }
                                            }
                                        </select>

                                    </div>



                                </div>

                            </div>
                        </div>


                        <div class="row" style="margin-top:1%">

                            <div class="col-lg-12">
                                <div class="col-lg-offset-10 col-lg-2">
                                    <label><input type="checkbox" value="all" id="SelectAll"> Select All</label>
                                    </div>
                                </div>

                            <div class="col-lg-12">
                                <table class="table bootstrap-datatable" id="grid"></table>
                                <center><span style="display:none" id="noRecord">No Records Found</span></center>

                            </div>





                        </div>
                        <div class="row" style="margin-top:1%">
                            <div class="col-lg-3">&nbsp;</div>
                            <div class="col-lg-6">
                                <center>   <input type="button" id="btnSavePermission" name="btnSavePermission" value="Save" class="" /></center>
                                @*<img src="~/images/ExcelImage.jpg" id="btnExport" class="btnExportClass" />*@
                            </div>
                            <div class="col-lg-3">&nbsp;</div>
                        </div>



                    </form>
                </div>

            </div>
        </div>
    </div>
    <div id="dialogMessage" title="Message">

    </div>

</div>
